{% extends "base.html" %}

{% block title %}about | aayush's blog{% endblock %}

{% block content %}
<h1>about me</h1>

<img src="/static/images/me.JPG" alt="Aayush" style="width: 200px;" />

<p>
  Hello friends, I'm aayush. I like to write. I write to understand. This blog is a place where I document what I learn — mostly tech, sometimes life.
</p>
<p>
<h2 style="font-weight: 400; color: #555;">Intent?</h2>
    My intent was to make a place for people to look at what i learn. By no means, is this website supposed to be my "portfolio page". You can check out my
    github if you want to have a look. This is just for my reflections.
</p>
<p>
  I'm interested in machine learning, backend development, math, stats and everything geek. I like things simple, quiet, and focused.
</p>
<p>
  Outside of code, I listen to hip-hop, read, and run long distances.
</p>
<p>
  This blog is plain by choice — no fluff, just content (and also because it was easier to design and i don't really like designing. simple, sweet). If you learn something from it, good.
</p>
<p>
  I hope this page is the only page that you hear a lot of 'i's from. Other pages are hopefully more knowledgeable and correct.
</p>

<p><a href="/">← Back to home</a></p>
{% endblock %}
